@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-image {
  background-image: url(../public/hero-bg.jpg);
  background-size: cover;
}

.bg-tst-img{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/testimonials-bg.jpg);
  background-size: cover;
}






